.machine {
  width: 900px;
  height: 600px;
  background-color: #d5cfc3;
  border: 3px solid #828376;
  border-radius: 4px;
}

.machine-header {
  display: flex;
  width: 100%;
  height: 4rem;
}

.machine-title {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: inline;
  color: #d8211d;
}

.grills {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grill {
  margin: 1rem;
}

.bar {
  height: 0.3rem;
  width: 100%;
  background-color: #7e756e;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.machine-body {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dial {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid #a99e82;
}

.dial-1 {
  background-color: #fff;
}

.dial-2 {
  background-color: #f18f72;
}

.dial-3 {
  height: 15px;
  width: 15px;
  background-color: #a99e82;
}

.dial::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 0;
  right: 50%;
  margin-right: -1px;
  background: #a99e82;
}

.dial-3::after {
  height: 7.5px;
  margin-right: -1.5px;
  background-color: #aba082;
}

.btn-small {
  display: inline-block;
  width: 2rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.volume {
  transform: rotate(-90deg);
  margin-top: 2rem;
  padding: 1rem 0;
}

.title-container {
  background: #d5cfc3;
  width: 100%;
  text-align: right;
  color: #46433a;
  padding: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.brand {
  margin: 0;
  padding: 0.5rem;
}

.brand-name {
  color: #aaa494;
}

.screen {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  width: 90%;
  background-color: #5faad1;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding: 0.5rem;
  margin: 0 auto;
  border-top: 1rem solid #07080a;
  border-bottom: 1rem solid #07080a;
  border-left: 2rem solid #07080a;
  border-right: 2rem solid #07080a;
}

.soft-keys {
  display: flex;
  justify-content: space-around;
}

.soft-key {
  display: inline-block;
  width: 2rem;
  height: 0.5rem;
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.col-3 {
  padding: 1rem;
}

.btn-panel {
  display: flex;
}

.btn-group {
  width: 100%;
  margin: 0 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 2rem);
  gap: 1rem;
  padding: 1rem;
}

.btn-group-1 .btn-small {
  background-color: #72878c;
}

/* .controls {
  border-left: 2px solid #828376;
}

.dial {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #464b5f;
  margin: 1rem;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #011627;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: color 300ms ease-in, background-color 300ms ease-in;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn-panel {
  display: flex;
}

.btn-group {
  width: 100%;
  margin: 0 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 2rem);
  gap: 1rem;
  padding: 1rem;
}

.btn-group-1 {
  border-top: 2px solid #464b5f;
}

.btn-group-2 {
  background-color: #466f73;
  border-radius: 3px;
}

.btn-small {
  width: 100%;
  height: 1rem;
  background-color: #98bbc6;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn-group-2 .btn-small {
  background-color: #f6ffff;
} */
