.machine {
  width: 940px;
  height: 640px;
  background-color: #d5cfc3;
  border: 3px solid #828376;
  border-radius: 4px;
  border-left: 1.5rem solid #b5a999;
  border-right: 1.5rem solid #b5a999;
  border-bottom: 3rem solid #b5a999;
}

.machine-header {
  display: flex;
  width: 100%;
  height: 4rem;
}

.machine-title {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: inline;
  color: #d8211d;
}

.signature {
  font-family: "Dancing Script", sans-serif;
  font-size: 1.3rem;
}

.machine-desc {
  font-size: 10px;
  text-align: center;
}

.grills {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grill {
  margin: 1rem;
}

.bar {
  height: 0.3rem;
  width: 100%;
  background-color: #7e756e;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.machine-body {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dial {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid #a99e82;
}

.dial-1 {
  background-color: #fff;
}

.dial-2 {
  background-color: #f18f72;
}

.dial-3 {
  height: 15px;
  width: 15px;
  background-color: #a99e82;
}

.dial-1::after,
.dial-2::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 0;
  right: 50%;
  margin-right: -1px;
  background: #a99e82;
}

.dial-3::after {
  height: 7.5px;
  margin-right: -1.5px;
  background-color: #aba082;
}

.lights {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.light {
  margin: 0.3rem 0.5rem;
  font-size: 10px;
}

.a-light::after,
.b-light::before,
.c-light::after,
.d-light::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #07080a;
}

.a-light::after {
  top: 10px;
  left: 17px;
}
.c-light::after {
  bottom: 10px;
  left: 17px;
}

.b-light::before {
  top: 10px;
  right: 17px;
}

.d-light::before {
  bottom: 10px;
  right: 17px;
}

.title-container {
  background: #d5cfc3;
  width: 100%;
  text-align: right;
  color: #46433a;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.brand {
  margin: 0;
  padding: 0.5rem;
}

.brand-desc {
  font-size: 10px;
  margin-right: 0.5rem;
}

.brand-name {
  color: #aaa494;
}

.screen {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  width: 90%;
  background-color: #5faad1;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  padding: 0.5rem;
  margin: 0 auto;
  border-top: 1rem solid #07080a;
  border-bottom: 1rem solid #07080a;
  border-left: 2rem solid #07080a;
  border-right: 2rem solid #07080a;
  border-radius: 5px;
}

.soft-keys {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.soft-key {
  display: inline-block;
  width: 2rem;
  height: 0.75rem;
  background-color: #fff5d2;
  margin: 0.5rem;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #8d8f8c;
}

.col-3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.data-btn {
  margin: 0 1rem;
}

.data-dial {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #eae5d2;
  margin: 1rem auto;
}

.cursor {
  width: 140px;
  height: 140px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.cursor-top {
  grid-column: 3 / span 1;
  grid-row: 1;
}
.cursor-right {
  grid-column: 5 / span 1;
  grid-row: 2;
}
.cursor-bottom {
  grid-column: 3 / span 1;
  grid-row: 3;
}
.cursor-left {
  grid-column: 1 / span 1;
  grid-row: 2;
}

/* Button styles */

.btn-panel {
  display: flex;
}

.btn-group {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0 1rem;
}

.btn-group-1 .btn-small {
  background-color: #72878c;
}

.btn-small {
  display: inline-block;
  width: 2rem;
  height: 0.75rem;
  background-color: #fff5d2;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.cursor-btn {
  background-color: #635f56;
}

.btn-group-3,
.btn-group-4 {
  grid-template-columns: repeat(5, 1fr);
}

.btn-group-4 {
  background-color: #8f928b;
}

.btn-lg {
  display: inline-block;
  width: 3.5rem;
  height: 1.75rem;
  background-color: #fff5d2;
  font-size: 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-lg.rec,
.btn-lg.over-dub {
  background-color: #b9392e;
  color: #eae7dc;
}
