.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-color: #828376;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.drum-pad.active {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
